<!-- Comment Properly -->

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Poplo
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <nav class="navbar">
        <h1>Poplo</h1>
    </nav>
    <ul>
        <li><a href="Register.html">Register</a></li>
        <li><a href="Login.html">Login</a></li>
        <li><a href="Developers.html">Developers</a></li>
        <li><a href="About.html">About</a></li>
    </ul>
    <footer class="footer-bottom">
        <h4>© Protex Creative</h4>
    </footer>
</body>
</html>