:root {
    --primary-color: #425cd1;
}
body {
    background-image: url('../img/Shapes/Ellipse_2_Cut.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size: 70%
}
.navbar-brand {
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-left: 10px;
    display: flex
}
input[type=text]
{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
  align-items: flex-end;
}
input[type=password] 
{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
  
}

button {
 background-color: #425cd1; /* Green */
  border: none;
  color: white;
  border-radius:8px;
  padding: 10px 32px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  b
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.container {
  padding: 6px;
  opacity: 0;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  
}