<!-- Comment Properly -->

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Poplo
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>   
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#developers">Developers</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <section id="home">
            <h1>Welcome To </h1>
            <img src="img/Logo/Logo_White_Back_Rect.png" alt="Logo" id="logo">
            <p class="lead" >School Work Simplified</p>
        </section>
        <section id="about">
            <h1>About</h1>
            <p class="lead">Poplo is Student portal made for students by students.
                Poplo provides you interface to get information in your school.
                It helps you know whats happening at your school college to new updates from world.
                Know what others are thinking;
                New to school/Collge then why not to make some good friends from Meet feature.
                Lost something dont worry use Poplo's Lost and found feature to check if somebody found what you are looking for.
            </p>
        </section>
        <section id="developers">
            <h1>Developers</h1>
            <p class="lead">
                <ul id="devs">
                    <li>Harshal
                    <li>Pratik
                    <li>Karan
                    <li>Kaif
                    </ul>
            </p>
        </section>
        <section id="contact">
            <h1>Contact</h1>
                <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>

            </footer>   
        </section>
    </div>

    <footer class="footer-bottom">
        <h4>© Protex Creative</h4>
    </footer>
    <script src="script/main.js"></script>
</body>

</html>