<!-- Add comments properly. -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poplo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header>
        <div class="header-top">
            <H1>Poplo</H1>
            About
        </div>
    </header>
    <div class="content-section">
        <p>Poplo is a student portal for making some good friends.</p>
    </div>
    <footer>
        <div class="footer-bottom">
            <h6>
                © Protex Creative
            </h6>
        </div>
    </footer>
</body>

</html>