/*
    Add appropriate comments.
    Use variables to store hex value.
    Font weight 400 means Regular, 700 means Bold. [For Roboto]
*/

:root {
    --primary-color: #425cd1;
    --light-color: #ffffff;
    --back-color: #edf5f7;
    --dark-color: #2a2b2a;
    --gray-color: #474448;
    --danger-color: #e33528;
    --success-color: #1ece76;
}

/* '*' means that the properties apply to all the elements. */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0
}

.navbar {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: var(--primary-color);    /* Using hex value stored in variable. */
    padding-left: 10px 
}